/* reset css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: "Roboto Condensed", sans-serif;
}
body{
    font-size: 1.6rem;
}
/* demo flex */
.con1{
    border: 3px solid red;
    width: 10rem;
    height: 20rem;
}
.con2{
    border: 3px solid blue;
    width: 10rem;
    height: 20rem;
}
.cha{
    border: 3px solid black;
    display:flex;
    justify-content: center;

}

/* demo flex 2 */
.chachu{
    border: 3px solid black;
    display: flex;
}
.chau{
    border: 3px solid blue;
    width: 30rem;
}
.chac{
    border:3px solid red;
    width: calc(100% - 30rem);
}

/* demo-position */

.big-div{
    border: 3px solid green;
    width: 25rem;
    position: relative;
}
.small-div{
    border: 3px solid blue;
    background-color: aqua;
    /* position: relative;
    top:2rem;
    left: 2rem; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;

}

/* position */
/* static:(default) mặc định, tĩnh, k dịch chuyển được */
/* relative: xuất hồn, hồn canh theo xác,
    căn chỉnh với trạng thái static
*/
/* absolute: dựa vào cha để căn chỉnh
    cha nó phải là 1 thằng khác static
*/
/* fixed: dính vào màn hình */
/* sticky: nó dính theo màn hình khi kéo xuống */
/* chỉ có position mới có z-index */


/* btn-fb */
.btn-fb{
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: fixed;
    right: 0;
    bottom: 0;
}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* nên dùng flex khi bên trong div có một phần tử
    còn không thì cần căn ra giữa mà trong div có rất nhiều nội dung -> position

gọn tiện tốc độ
*/

.demo-sticky{
    position: sticky;
    top: 1rem;

}
/* pseudo tag: div span
pseudo class: :hover | :active | :unvisited | :focus
pseado element ::after || ::before
*/
.ahihi::after{
    content: "hehe";
}
.ahihi::before{
    content: "hihi";
}

.btn-demo{
    margin: 3rem;
    padding: 1rem 2rem;
    outline: none;
    border: none;
    border: 1px solid hotpink;
    background-color: transparent;
    color: hotpink;
    position: relative;
    
}
.btn-demo::after{
    content: "";
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    z-index: -1;
    transition: 0.3s;
}

.btn-demo:hover::after{
    left: 0;
    width: 100%;
}
.btn-demo:hover{
    color: white;
}